<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../style.css">
        <title>CRUD-Application</title>
    </head>
    <body>

        <!-- NAV -->
        <nav class="navbar navbar-light bg-light shadow p-3 mb-5">
            <div class="navbar-brand text-center text-muted">
                <a class="btn" href="/">
                    <h5>Yoobee</h5>
                    <h6>Web&UX Community Portfolio</h6>
                </a>
            </div>
       
            <div class="my-2 my-sm-0 p-2">
                <a class="btn btn-outline-dark" href="/login">Login</a>
                <a class="btn btn-outline-dark" href="/register">Register</a>
            </div>
        </nav>

        <!--Display Cards-->  
        <div class="container-fluid">
            {% for post in allpost %}
            {% if loop.index is even %} 
            <div class="row ">
                <div class="col">
                    <div class="card flex-md-row mb-4 box-shadow ">
                        <div class="card-body d-flex flex-column align-items-start">
                            <div class="container m-5">
                                <h3 class="mb-3 display-1"><span class="post_title">{{post.title |e}}</span></h3>
                                <span class="mb-3 post_date text-muted">Posted {{post.createdAt | date("d M, Y")}}</span>
                                <div class="mb-3 card-text mb-auto font-weight-bold">
                                    <span class="post_comment">{{post.content |e}}</span>
                                </div>
                                <span class="post_author"> By {{post.author_name |e}}</span> 
                            </div>
                        </div>
                        <img class="card-img-right img-fluid flex-auto d-none d-md-block" src="{{post.image_url |e}}" alt="art image" style="width: 60%; height: auto">
                    </div>
                </div>
            </div>
            {% else %} 
            <div class="row">
                <div class="col">
                    <div class="card flex-md-row mb-4 box-shadow ">
                        <img class="card-img-right img-fluid flex-auto d-none d-md-block" src="{{post.image_url |e}}" alt="art image" style="width: 60%; height: auto">
                        <div class="card-body d-flex flex-column align-items-start">
                            <div class="container m-5">
                                <h3 class="mb-3 display-1"><span class="post_title">{{post.title |e}}</span></h3>
                                <span class="mb-3 post_date text-muted">Posted {{post.createdAt | date("d M, Y")}}</span>
                                <div class="mb-3 card-text mb-auto font-weight-bold">
                                    <span class="post_comment">{{post.content |e}}</span>
                                </div>
                                <span class="post_author"> By {{post.author_name |e}}</span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}    
            {% endfor %}
        </div>
  
        <!-- Footer -->
        <footer class="blog-footer bg-light">
            <p class="text-center text-muted"> Yoobee Formative Project | Natalia Ramirez © 2021</p> 
        </footer>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>

 