*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.radius {
    border-radius: 10px;
}

.image-card {
    width: 60%; 
    height: auto;
}


.blog-footer {
    padding: 2.5rem 0;
    text-align: center;
    border-top: .05rem solid #e5e5e5;
  }


